---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/layout/Navigation.astro';
import { getCollection, render, type CollectionEntry } from 'astro:content';

const collection = 'home';
const homeEntries = await getCollection(collection);
const home = homeEntries[0] as CollectionEntry<'home'>;
const { Content } = await render(home);
---

<Layout theme="posts">
  <Navigation selected={collection}/>
  <main>
    <h1 class="page-title">{home.data.title}</h1>
    <div class="content">
      <Content />
    </div>
  </main>
</Layout>
