---
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="content-wrapper">
    <p>
      &copy; {currentYear} Dan Corin · Built with <a href="https://astro.build">Astro <Icon name="simple-icons:astro" class="inline-icon"/></a>
    </p>
    <p>
      <a href="https://www.danielcorin.com" target="_blank" rel="noopener noreferrer"><Icon name="ph:house-line" class="inline-icon"/></a>
      <a href="https://github.com/danielcorin" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:github" class="inline-icon"/></a>
      <a href="https://bsky.app/profile/danielcorin.com" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:bluesky" class="inline-icon"/></a>
      <a href="https://linkedin.com/in/danielcorin" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:linkedin" class="inline-icon"/></a>
      <a href="https://twitter.com/danielcorin1" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:twitter" class="inline-icon"/></a>
      <a href="mailto:dcorin6@gmail.com" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:gmail" class="inline-icon"/></a>
      <a href="https://stackoverflow.com/users/2631732/daniel-corin" target="_blank" rel="noopener noreferrer"><Icon name="simple-icons:stackoverflow" class="inline-icon"/></a>
    </p>
  </div>
</footer>
